

.shared-voice-note {
    position: relative;
    background: transparent;
    padding: 12px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.shared-voice-note .voice-note-content {
    min-width: unset;
}
