

.vlist {
    position: relative;
}

.vlist-top-border {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 3px;
    background-image: linear-gradient(var(--border), transparent);;
}